.navbar .collapse .navbar-nav .nav-item .nav-link{
    color: rgb(248, 240, 248) !important;
    font-size: 1.6em;
    padding-left: 30px;
    padding-right: 10px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link:hover{
    color: rgb(223, 35, 182) !important;
}
html{
    scroll-behavior: smooth;
}
 @media (max-width: 575.98px) { 
    .sec{
        background-image: url('https://wallpaperaccess.com/full/1127106.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 750px;
        width: 100%;
        opacity: 1;
    }
    .navbar{
        background-color: rgb(19, 11, 90);
    }
    body{
        font-size: 1em;
    }
    .hintro{
        /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-right: auto !important;
        color: rgb(214, 214, 174);
        height: 100%;
        width: 80%;
        margin-left: 30px;
        margin-right: 2%;
        margin-top: 0px;
        padding-top: 20px;
        padding-right: 0px;
        position: relative !important;
        font-size: 0.7em;
    }
    .hintro h1,h5,h2,a{   
        padding-right: 0px;
        line-height: 1em;
        font-size: 1.1em;
    }
    .hintro a{
        font-size: 1.8em !important;
    }
    .hintro h1{
        line-height: 1em;
        font-size: 3.2em !important;
    }
    .pp{
        margin-top: 20px;
        margin-right: 0;
        margin-left: 50px;
        display: block;
        border: rgb(206, 106, 106) 4px solid;
        height: 250px;
        width: 250px;
        align-self: center !important;
    }
    .ab p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin-left: 25px;
        margin-top: 0px;
        padding: 40px;
    }
    .ab .btn{
        color: coral !important;
        border-color: coral !important;
        margin-top: 0px;
    }
    .ab .btn:hover{
       background-color: coral !important;
       color: rgb(252, 247, 246) !important;
    }
    .foot{
        margin-bottom: 0px;
    }
    #about h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 10px;
        color: rgb(250, 113, 89);
        font-size: 2em;
    }
    footer{
        background-color: rgb(155, 83, 221);
        height: 100px;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
    #proj{
        background-color: rgb(122, 14, 194);
    }
    #proj h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: cornsilk;
        font-size: 2em;
    }
    #proj small{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin-left: 70px;
        color: cornsilk;
        padding-bottom: 20px;
    }
    #proj .ca:hover{
        box-shadow: 0 5px 10px 0 rgba(21, 18, 24, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: cubic-bezier(0.215, 0.610, 0.355, 1);
    
    }
    #skill h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(250, 113, 89);
        font-size: 2em;
    }
    .pro{
        width: 70%;
        height: 24px !important;
        margin-left: 50px;
        margin-top: 10px;
        display: block;
        align-self: center;
    }
    .ab h4{
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 590px;
        font-size: 1em;
        float: left;
    }
    #contact{
        background-color: #f1f1f1;
    }
    .co p{
        height: 50px;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    #contact .fo{
        margin-top: 0px !important;
        padding-top: 0px;
        width: 60%;
        height: 350px;
        display: block;
    }
    #contact h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(31, 43, 214);
        font-size: 2em;
    }
    #contact .btn{
        margin-top: 0px !important;
        margin-left: 0px !important;
        size: 40%;
    }
  }
 
 @media (min-width: 576px) and (max-width: 767.98px) {
    .sec{
        background-image: url('https://wallpaperaccess.com/full/1127106.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 750px;
        width: 100%;
        opacity: 1;
    }
    .navbar{
        background-color: rgb(19, 11, 90);
    }
    body{
        font-size: 1em;
    }
    .hintro{
        /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-right: auto !important;
        color: rgb(214, 214, 174);
        height: 100%;
        width: 80%;
        margin-left: 30px;
        margin-right: 2%;
        margin-top: 0px;
        padding-top: 20px;
        padding-right: 0px;
        position: relative !important;
        font-size: 0.7em;
    }
    .hintro h1,h5,h2,a{   
        padding-right: 0px;
        line-height: 1em;
        font-size: 1.1em;
    }
    .hintro a{
        font-size: 1.8em !important;
    }
    .hintro h1{
        line-height: 1em;
        font-size: 3.2em !important;
    }
    .pp{
        margin-top: 20px;
        margin-right: 0;
        margin-left: 55px;
        display: block;
        border: rgb(206, 106, 106) 3px solid;
        height: 250px;
        width: 250px;
        align-self: center !important;
    }
    .ab p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin-left: 25px;
        margin-top: 0px;
        padding: 40px;
    }
    .ab .btn{
        color: coral !important;
        border-color: coral !important;
        margin-top: 0px;
    }
    .ab .btn:hover{
       background-color: coral !important;
       color: rgb(252, 247, 246) !important;
    }
    .foot{
        margin-bottom: 0px;
    }
    #about h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 40px;
        color: rgb(250, 113, 89);
    }
    footer{
        background-color: rgb(155, 83, 221);
        height: 100px;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
    #proj{
        background-color: rgb(122, 14, 194);
    }
    #proj h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: cornsilk;
    }
    #proj small{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center !important;
        margin-left: 230px;
        color: cornsilk;
        padding-bottom: 20px;
    }
    #proj .ca:hover{
        box-shadow: 0 5px 10px 0 rgba(21, 18, 24, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: cubic-bezier(0.215, 0.610, 0.355, 1);
    
    }
    #skill h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(250, 113, 89);
    }
    .pro{
        width: 70%;
        height: 24px !important;
        margin-left: 50px;
        margin-top: 10px;
        display: block;
        align-self: center;
    }
    .ab h4{
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 590px;
        font-size: 1em;
        float: left;
    }
    #contact{
        background-color: #f1f1f1;
    }
    .co p{
        height: 50px;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    #contact .fo{
        margin-top: 0px !important;
        padding-top: 0px;
        width: 60%;
        height: 350px;
        display: block;
    }
    #contact h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(31, 43, 214);
    }
    #contact .btn{
        margin-top: 0px !important;
        margin-left: 0px !important;
        size: 40%;
    }
 }
 
 @media (min-width: 768px) and (max-width: 991.98px) { 
    .sec{
        background-image: url('https://wallpaperaccess.com/full/1127106.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 750px;
        width: 100%;
        opacity: 1;
    }
    .navbar{
        background-color: rgb(19, 11, 90);
    }
    body{
        font-size: 2em !important;
    }
    .hintro{
        /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-right: auto !important;
        color: rgb(214, 214, 174);
        height: 100%;
        width: 80%;
        margin-left: 30px;
        margin-right: 2%;
        margin-top: 0px;
        padding-top: 20px;
        padding-right: 0px;
        position: relative !important;
        font-size: 0.7em;
    }
    .hintro h1,h5,h2,a{   
        padding-right: 0px;
        line-height: 1em;
        font-size: 1.2em;
    }
    .hintro a{
        font-size: 1.5em !important;
    }
    .hintro h1{
        line-height: 1em;
        font-size: 3.2em !important;
    }
    .pp{
        margin-top: 20px;
        margin-right: 0;
        margin-left: 260px;
        display: block;
        border: rgb(206, 106, 106) 3px solid;
        height: 250px;
        width: 250px;
        align-self: center !important;
    }
    .ab p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin-left: 25px;
        margin-top: 0px;
        padding: 40px;
    }
    .ab .btn{
        color: coral !important;
        border-color: coral !important;
        margin-top: 0px;
    }
    .ab .btn:hover{
       background-color: coral !important;
       color: rgb(252, 247, 246) !important;
    }
    .foot{
        margin-bottom: 0px;
    }
    #about h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 20px;
        color: rgb(250, 113, 89);
        font-size: 2em;
    }
    footer{
        background-color: rgb(155, 83, 221);
        height: 100px;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
    #proj{
        background-color: rgb(122, 14, 194);
        padding: 20px;
    }
    #proj h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: cornsilk;
        font-size: 2em;
    }
    #proj small{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center !important;
        color: cornsilk;
        padding-bottom: 20px;
    }
    #proj .ca:hover{
        box-shadow: 0 5px 10px 0 rgba(21, 18, 24, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: cubic-bezier(0.215, 0.610, 0.355, 1);
    
    }
    #skill h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(250, 113, 89);
        font-size: 2em;
    }
    .pro{
        width: 70%;
        height: 24px !important;
        margin-left: 50px;
        margin-top: 10px;
        display: block;
        align-self: center;
    }
    .ab h4{
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 590px;
        font-size: 1em;
        float: left;
    }
    #contact{
        background-color: #f1f1f1;
    }
    .co p{
        height: 50px;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    #contact .fo{
        margin-top: 0px !important;
        padding-top: 0px;
        width: 60%;
        height: 350px;
        display: block;
    }
    #contact h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(31, 43, 214);
        font-size: 2em;
    }
    #contact .btn{
        margin-top: 0px !important;
        margin-left: 0px !important;
        size: 40%;
    }
  }
 
 @media (min-width: 992px) and (max-width: 1199.98px) { 
    .sec{
        background-image: url('https://wallpaperaccess.com/full/1127106.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 750px;
        width: 100%;
        opacity: 1;
    }
    .navbar{
        background-color: rgb(19, 11, 90);
    }
    .navbar .nav-item{
        font-size: 0.6em;
    }
    body{
        font-size: 2em !important;
    }
    .hintro{
        /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-right: auto !important;
        color: rgb(214, 214, 174);
        height: 100%;
        width: 80%;
        margin-left: 30px;
        margin-right: 2%;
        margin-top: 0px;
        padding-top: 20px;
        padding-right: 0px;
        position: relative !important;
        font-size: 0.7em;
    }
    .hintro h1,h5,h2,a{   
        padding-right: 0px;
        line-height: 1em;
        font-size: 1.2em;
    }
    .hintro a{
        font-size: 1.5em !important;
    }
    .hintro h1{
        line-height: 1em;
        font-size: 3.2em !important;
    }
    .pp{
        margin-top: 20px;
        margin-right: 0;
        margin-left: 380px;
        display: block;
        border: rgb(206, 106, 106) 3px solid;
        height: 250px;
        width: 250px;
        align-self: center !important;
    }
    .ab p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin-left: 25px;
        margin-top: 0px;
        padding: 40px;
    }
    .ab .btn{
        color: coral !important;
        border-color: coral !important;
        margin-top: 0px;
        font-size: 1.4em;
    }
    .ab .btn:hover{
       background-color: coral !important;
       color: rgb(252, 247, 246) !important;
    }
    .foot{
        margin-bottom: 0px;
    }
    #about h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 20px;
        color: rgb(250, 113, 89);
        font-size: 2em;
    }
    footer{
        background-color: rgb(155, 83, 221);
        height: 100px;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
    #proj{
        background-color: rgb(122, 14, 194);
        padding: 20px;
    }
    #proj h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: cornsilk;
        font-size: 2em;
    }
    #proj small{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center !important;
        color: cornsilk;
        padding-bottom: 20px;
    }
    #proj .ca:hover{
        box-shadow: 0 5px 10px 0 rgba(21, 18, 24, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: cubic-bezier(0.215, 0.610, 0.355, 1);
    
    }
    #skill h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(250, 113, 89);
        font-size: 2em;
    }
    .pro{
        width: 70%;
        height: 24px !important;
        margin-left: 50px;
        margin-top: 10px;
        display: block;
        align-self: center;
    }
    .ab h4{
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 590px;
        font-size: 1em;
        float: left;
    }
    #contact{
        background-color: #f1f1f1;
    }
    .co p{
        height: 50px;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    #contact .fo{
        margin-top: 0px !important;
        padding-top: 0px;
        width: 60%;
        height: 350px;
        display: block;
    }
    #contact h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(31, 43, 214);
        font-size: 2em;
    }
    #contact .btn{
        margin-top: 0px !important;
        margin-left: 0px !important;
        size: 40%;
    }
  }
 
 @media (min-width: 1200px) { 
    .sec{
        background-image: url('assets/images/back.JPG');
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        height: 750px;
        width: 100%;
        margin-top: 0;
        border: solid black 1px;
    }
    body{
        font-size: 2em;
        scroll-behavior: auto;
    }
    .navbar{
        background-color: transparent;
    }
    .navbar-nav a{
        color: blueviolet !important;
    }
    header{
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 500;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: 0.4s;
    }
    header.sticky{
        padding: 5px 60px;
        background: rgb(209, 149, 203);
        opacity: 1;
    }
    .hintro{
        /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-right: auto !important;
        color: cornsilk;
        height: 100%;
        width: 50%;
        margin-left: 100px;
        margin-right: 2%;
        margin-top: 150px;
        padding-top: 50px;
        padding-right: 50px;
        position: relative !important;
        font-size: 1.2em;
    }
    .wo{
        padding: 40px;
    }
    .hintro h1,h5,h2,a{   
        padding-right: 0px;
        line-height: 1.8em;
    }
    .hintro h1{
        line-height: 1.2em;
        font-size: 3.3em !important;
    }
    .pp{
        margin-top: 20px;
        margin-right: 0;
        margin-left: 320px;
        display: block;
        float: left;
        border: rgb(206, 106, 106) 10px solid;
        height : 300px;
        width :300px;
    }
    .ab p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: left;
        margin-left: 470px;
        margin-top: 0px;
        height: 350px;
        padding: 80px;
        line-height: 1.6em;
    }
    .ab a .btn{
        color: coral !important;
        border-color: coral !important;
        margin-top: 0px;
    }
    a .btn:hover{
       background-color: coral !important;
       color: rgb(252, 247, 246) !important;
    }
    .foot{
        margin-bottom: 0px;
    }
    #about h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(250, 113, 89);
    }
    
    #proj{
        background-color: rgb(122, 14, 194);
    }
    #proj h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: cornsilk;
    }
    #proj small{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin-left: 650px;
        color: cornsilk;
    }
    #proj .ca:hover{
        box-shadow: 0 5px 10px 0 rgba(21, 18, 24, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: cubic-bezier(0.215, 0.610, 0.355, 1);
    
    }
    #skill h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(250, 113, 89);
    }
    .pro{
        width: 70%;
        height: 24px !important;
        margin-left: 180px;
        margin-top: 10px;
        display: block;
    }
    .ab h4{
        margin-top: 20px;
        margin-left: 180px;
        margin-right: 590px;
        float: left;
    }
    #contact{
        background-color: #f1f1f1;
    }
    .co p{
        height: 50px;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    #contact .fo{
        margin-top: 0px !important;
        padding-top: 0px;
        width: 60%;
        height: 350px;
        display: block;
    }
    #contact h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        padding-top: 84px;
        color: rgb(31, 43, 214);
    }
    #contact .btn{
        margin-top: 0px !important;
        margin-left: 0px !important;
        size: 40%;
    }
    footer{
        background-color: rgb(155, 83, 221);
        height: 100px;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
  }
